<!-- templates/products_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/products'>Back to Products</a>
<div class='row'>
    <div class='col-sm-5'>
        <h1>{{ product.title }}</h1>
        <h2>{{ product.description }}</h2>
        <h3>${{ product.price }}</h3>
        <h4><form method='POST' action='/products/{{ product._id }}/wish'>
            <button class='btn btn-primary' type='submit'>Add to Wishlist</button>
        </form></h4>
        {% for image in product.images %}
            <div class="card"><div class="card-body">
                <img width=50% height=width src="{{ image }}"></img>
            </div></div>
        {% endfor %}
        <p><a href='/products/{{ product._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/products/{{ product._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
    </div>

    <div class='col-sm-5'>
        <hr>
        <!-- Show reviews -->
        {% for review in reviews %}
            {% include 'partials/review.html' %}
        {% endfor %}
        <!-- review form -->
        {% include 'partials/review_form.html' %}
        <hr>
    </div>
</div>
{% endblock %}
