<!-- templates/products_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<div class='row'>
    {% for product in products %}
        {% for image in product.images[0:1] %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ image }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class ="card-title"><a href='/products/{{ product._id }}'>{{ product.title }}</a></h4>
                    <small class ="card-text">{{ product.description }}</small>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
