<!-- templates/wish_list.html -->
{% extends 'base.html' %}

{% block content %}

<body>
<div class="container">
    <h2>Wish List</h2>
    <table class="table">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        </tr>
    </thead>
        {% for product in wish_list %}
            <tbody>
            <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><p><form method='POST' action='/products/{{ product._id }}/wish/delete'>
                    <button class='btn btn-link' type='submit'>Delete</button>
                </form></p>
            </td>
        {% endfor %}
    </table>

</div>
</body>

{% endblock %}
